<%= form_for(@house) do |f| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% @house.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.select :city_id, @city.map{|t| [t.name, t.id]} %>
  </div>
  <div class="field">
    <%= f.label :num_of_people %><br>
    <%= f.number_field :num_of_people %>
  </div>
  <div class="field">
    <%= f.label :has_child %><br>
    <%= f.select :has_child, [["Yes", 1], ["No", 0]] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
