<!DOCTYPE html>
<html ng-app="CambridgeApp">
<head>
  <title>Cambridge</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<%= yield %>

</body>
</html>
