
<%= column_chart @city_energy_production,
                 height: '600px',
                 ytitle: "Total_Energy_Production",
                 colors: ['#79817B']  %>

<%= scatter_chart @data,
                 height: '600px',
                 xtitle: "Daylight", 
                 ytitle: "Energy_Production",
                 colors: ['#79817B'] %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>FullName</th>
      <th>City</th>
      <th>num_of_people</th>
      <th>has_child</th>
    </tr>
  </thead>
  <tbody>
    <% @houses.each do |house| %>
      <tr>
          <td><%= house.id %></td>
          <td><%= link_to "#{house.fullname}", house_path(house) %></td>
          <td><%= house.city %></td>
          <td><%= house.num_of_people %></td>
          <td><%= house.has_child %></td>
      </tr>
    <% end %>
  </tbody>