<h1>House Data</h1>

<%= link_to "Energies Data List", energies_path %><br/>
<%= link_to "Add New House Data", new_house_path %>

<%= render 'tables/house_show_table' %>

<%= render 'charts/house_chart' %>

<%= render partial: 'tables/house_data_details', locals: { house: @house} %>