<h1>House data</h1>
<!--<h1>Housedata#show</h1>-->
<!--<p>Find me in app/views/housedata/show.html.erb</p>-->
<h3>API</h3>
This data can be extracted as json:
<a href="<%= url_for(:controller => 'service', :action => 'listhousedata', :only_path => false) %>">
<%= url_for(:controller => 'service', :action => 'listhousedata', :only_path => false) %>
</a>
<table border="1">
<tr>
	<th bgcolor="#EE0000">ID(System generated)</th>
	<th bgcolor="#EE0000">House</th>
	<th bgcolor="#EE0000">First Name</th>
	<th bgcolor="#EE0000">Last Name</th>
	<th bgcolor="#EE0000">City</th>
	<th bgcolor="#EE0000">Number of People</th>
	<th bgcolor="#EE0000">has_child</th>
</tr>
<% @houses.each do |house| %>
<tr style="background-color: <%= cycle '#ccc', '#fff' %>">
	<td><%= house.id %></td>
	<td><%= house.house %></td>
	<td><%= house.firstname %></td>
	<td><%= house.lastname %></td>
	<td><%= house.city %></td>
	<td><%= house.n_of_people %></td>
	<td><%= house.has_child %></td>
</tr>
<% end %>
</table>