%h1 家庭ごとのエネルギー生産量
= bar_chart @houses_data

%table
  %thead
    %tr
      %th id
      %th firstname
      %th lastname
      %th city
      %th num_of_people
      %th has_child
      %th energy_production
  - @houses.each do |house|
    %tr
      %td
        = house.id
      %td
        = house.firstname
      %td
        = house.lastname
      %td
        = house.city.name
      %td
        = house.num_of_people
      %td
        = house.has_child
      %td
        = house.energies.pluck(:energy_production).sum
