<div style="width: 90%; margin: auto">
  <canvas id="EnergyIndexChart"></canvas>
</div>
<script>
    var ctx = document.getElementById("EnergyIndexChart");
    var EnergyIndexChart = new Chart(ctx, {
            type: 'bubble',
            data: {
                datasets: [
                    {
                        label: '2011',
                        data: [
                            <% energies.chart_bubble(2011).each do |nd| %>
                            {x: <%= nd[1] %>, y: <%= nd[2] %>, r: <%= nd[0] %>},
                            <% end %>
                        ],
                        backgroundColor: "rgb(255, 0, 0, 0.1)",
                        borderColor: "rgb(255, 0, 0)",
                    },{
                        label: '2012',
                        data: [
                            <% energies.chart_bubble(2012).each do |nd| %>
                            {x: <%= nd[1] %>, y: <%= nd[2] %>, r: <%= nd[0] %>},
                            <% end %>
                        ],
                        backgroundColor: "rgb(54, 162, 235, 0.1)",
                        borderColor: "rgb(54, 162, 235)"
                    },{
                        label: '2013',
                        data: [
                            <% energies.chart_bubble(2013).each do |nd| %>
                            {x: <%= nd[1] %>, y: <%= nd[2] %>, r: <%= nd[0] %>},
                            <% end %>
                        ],
                        backgroundColor: "rgb(200, 200, 200, 0.1)",
                        borderColor: "rgb(200, 200, 200)"
                    }
                ]
            },
        options: {
            tooltips: {
                mode: 'nearest',
                intersect: false,
            },
            responsive: true,
            scales: {
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: "Daylight"
                    }
                }],
                yAxes: [{
                    id: "y-axis-1",
                    scaleLabel: {
                        display: true,
                        labelString: "EnergyProduction"
                    },
                    type: "linear",
                    position: "left"
                    }]
                },
            },
        })
    ;
</script>