

<div class="energy-wrapper">
    <div class="container">
        <div class="back">
            <%= link_to '← back', datas_path , :method => :get, class: 'back' %>
        </div>
        <div class="datas-house">
            <p class="home-title"><%= @house.lastname %></p>
            <table class="home-top">
                <thead class="head-house">
                <tr>
                    <th>ID</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>City</th>
                    <th>People</th>
                    <th>Child</th>
                </tr>
                </thead>
                <tbody>
                <tr class="head-tr">
                    <td><p><%= @house.id %></p></td>
                    <td><p><%= @house.firstname %></p></td>
                    <td><p><%= @house.lastname %></p></td>
                    <td><p><%= @house.city %></p></td>
                    <td><p><%= @house.num_of_people %></p></td>
                    <td><p><%= @house.has_child %></p></td>
                </tr>
                </tbody>
            </table>
        </div>
        
        <div class="chart-wrapper">
            <p class="dataset-title">Energy Datas</p>
            <div class="chart">
                <%= high_chart("my_chart1",  @chart2011) %>
            </div>
            <div class="chart">
                <%= high_chart("my_chart2",  @chart2012) %>
            </div>
            <div class="chart">
                <%= high_chart("my_chart3",  @chart2013) %>
            </div>
        </div>
        
        <div class="datas">
            <p class="dataset-title"><%= @house.lastname %> datas</p>
            <table>
                <therad class="head-house">
                    <tr>
                        <th>Label</th>
                        <th>Year</th>
                        <th>Month</th>
                        <th>Temperature</th>
                        <th>Daylight</th>
                        <th>EnergyProduction</th>
                    </tr>
                </therad>
                <tbody>
                    <% @datas.each do |data| %>
                    <tr>
                        <td><p><%= data.label %></p></td>
                        <td><p><%= data.year %></p></td>
                        <td><p><%= data.month %></p></td>
                        <td><p><%= data.temperature %></p></td>
                        <td><p><%= data.daylight %></p></td>
                        <td><p><%= data.energy_production %></p></td>
                    </tr>  
                    <% end %>
                </tbody>
            </table>
            <div class="back">
                <%= link_to '← back', datas_path , :method => :get ,  class: 'back' %>
            </div>
        </div>
    </div>
</div>
