<!DOCTYPE html>
<html>
  <head>
    <title>Shoy75</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= Gon::Base.render_data %>
    <script src="https://d3js.org/d3.v5.js"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
