<!DOCTYPE html>
<html>
<head>
  <title>challenge3 - ynoda</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "dojo/dojo/dojo", "data-dojo-config" => %Q(parseOnLoad: true) %>
  <style type="text/css">
    @import "/assets/dojo/dijit/themes/claro/claro.css";
    @import "/assets/dojo/dijit/themes/dijit.css";
  </style>
</head>
<body class="claro">

<%= yield %>

</body>
</html>
