<%= form_with(model: house, local: true) do |form| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, id: :house_firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :house_lastname %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :house_city %>
  </div>

  <div class="field">
    <%= form.label :num_of_people %>
    <%= form.number_field :num_of_people, id: :house_num_of_people %>
  </div>

  <div class="field">
    <%= form.label :has_child %>
    <%= form.text_field :has_child, id: :house_has_child %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
