<h1>データ表示の方向性</h1>
<p>その1 ： 政府、電力会社、小売業者といった供給側が、政策や供給、販売戦略の立案のため各都市や各家庭の生産量の分布や差異を見る</p>
<p>その2 ： 一般消費者が、自身の生産量を相対的に把握するため、同一条件の家庭と比較する</p>
<p>ここでは、「その1.」を採用した。</p>
<p>理由は、家庭単位で見る場合、世帯年収や職業等のパラメータが大きな役割を持つ可能性が高いため、サンプルデータだけで分析してもあまり有益な情報は得られないと判断したため。</p>

<h1>Energy Production(都市別)</h1>
<p>気温、日照時間、生産量を表示</p>
<table border="1">
  <tr>
    <th>都市</th>
    <% @periods.each do |period| %>
      <th><%= period.year.to_s + '/' + period.month.to_s %></th>
    <% end %>
  </tr>

  <% city = nil %>
  <% @energies_by_city.each do |energy| %>
    <% if city != energy.cityname %>
      <% if city != nil %>
        </tr>
      <% end %>
      <tr>
        <td><%= energy.cityname %></td>
    <% end %>
    <td>
      <%= energy.temperature.round(1) %>
      <br>
      <%= energy.daylight.round(1) %>
      <br>
      <%= energy.energy_production.round(1) %>
    </td>
    <% city = energy.cityname %>
  <% end %>
  </tr>
</table>

<h1>Energy Production(都市、家族構成別)</h1>
<p>生産量を表示</p>
<table border="1">
  <tr>
    <th>都市</th>
    <th>世帯人数</th>
    <th>子供有無</th>
    <% @periods.each do |period| %>
      <th><%= period.year.to_s + '/' + period.month.to_s %></th>
    <% end %>
  </tr>

  <% city = nil %>
  <% num_of_people = 0 %>
  <% has_child = true %>
  <% @energies_by_city_and_family_structure.each do |energy| %>
    <% if city != energy.cityname || num_of_people != energy.num_of_people || has_child != energy.has_child %>
      <% if city != nil %>
        </tr>
      <% end %>
      <tr>
        <td><%= energy.cityname %></td>
        <td><%= energy.num_of_people %></td>
        <% if Rails.env.development? %>
          <td><%= energy.has_child ? 'Yes' : 'No' %></td>
        <% elsif Rails.env.production? %>
          <td><%= energy.has_child == 't' ? 'Yes' : 'No' %></td>
        <% end %>
    <% end %>
    <td>
      <%= energy.energy_production.round(1) %>
    </td>
    <% city = energy.cityname %>
    <% num_of_people = energy.num_of_people %>
    <% has_child = energy.has_child %>
  <% end %>
  </tr>
</table>