<tr>
  <td><%= house_energy_usage.firstname %></td>
  <td><%= house_energy_usage.lastname %></td>
  <td><%= house_energy_usage.city %></td>
  <td><%= house_energy_usage.num_of_people %></td>
  <td><%= boolean_decorator(house_energy_usage.has_child) %></td>
  <td>test</td>
</tr>
