<tr>
  <td><%= energy_production.year %></td>
  <td><%= energy_production.month %></td>
  <td><%= energy_production.temperature %></td>
  <td><%= energy_production.daylight %></td>
  <td><%= energy_production.energy_production %></td>
</tr>

