<tr>
  <td class="number-cell"><%= energy_production.year %></td>
  <td class="number-cell"><%= energy_production.month %></td>
  <td class="number-cell"><%= energy_production.temperature %></td>
  <td class="number-cell"><%= energy_production.daylight %></td>
  <td class="number-cell"><%= energy_production.energy_production %></td>
</tr>

