<!DOCTYPE html>
<html>
  <head>
    <title>HiroakiTerayama</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless controller.controller_path.include?('home') %>
      <%= render 'shared/header' %>
    <% end %>
    <%= yield %>
  </body>
</html>
