<h2>EnergyProduction_chart(July 2011 ~	june 2013)</h2>
<%= area_chart @chart %>

<p>
  <strong>Firstname:</strong>
  <%= @house.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @house.lastname %>
</p>

<p>
  <strong>City:</strong>
  <%= @house.city %>
</p>

<p>
  <strong>Num of people:</strong>
  <%= @house.num_of_people %>
</p>

<p>
  <strong>Has child:</strong>
  <%= @house.has_child %>
</p>

<%= link_to 'Back', houses_path %>