<table style="text-align: center; margin: auto; border: 5px solid #1a1a1a">
  <caption>House Data List Details</caption>
  <thead>
  <tr>
    <th>Label</th>
    <th>House ID</th>
    <th>Year</th>
    <th>Month</th>
    <th>Temperature</th>
    <th>Daylight</th>
    <th>EnergyProduction</th>
  </tr>
  </thead>

  <tbody>
  <% house.energies.order('label').each do |h| %>
    <tr>
      <td><%= h.label %></td>
      <td><%= h.house_id %></td>
      <td><%= h.year %></td>
      <td><%= h.month %></td>
      <td><%= h.temperature %></td>
      <td><%= h.daylight %></td>
      <td><%= h.energy_production %></td>
    </tr>
  <% end %>
  </tbody>
</table>